@import url("https://use.typekit.net/ltj6ssq.css");

:root {
  --font-base: "proxima-nova", sans-serif;
  --font-secondary: "corsario-variable", sans-serif;

  --primary-color: #8791cf;
  --secondary-color: #eef0eb;
  --black-color: #030303;
  --highlight-color: #9babf9;
  --darkBlue-color: #3b4a93;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  margin:0;
}

/* .level {
  background-color: var(--primary-color);
  height: 80px;
  padding: 0;
  margin: 0; 
}

.level img{
  margin-right: 15px;
}

.level a{
  color: var(--secondary-color);
  font-family: var(--font-base);
}
.level:not(:last-child){
  margin: 0; /* Add this line to reset margin */


header{
  background: var(--primary-color);
}

#hero{
  background-image: url(../images/hero.png);
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-size: cover; /* Cover the entire container */

}

.hero-text h2{
  color: var(--secondary-color);
  font-family: var(--font-secondary);
}

#info{
  background-color: var(--primary-color);
}

.info-image{
  border-radius: 10px;
  max-width:400px;
  max-height:250px;
}

.search{
  background: var(--secondary-color);
}

.intro{
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

#searchForm {
  align-items: center;
  text-align:center;
  justify-content: center;
  
}

#searchQuery {
  transition: all 0.5s ease;
}

.searchAlert{
  border-color:red!important;
  transition: all 0.5s ease;
}

.block p{
  color: var(--black-color);
  font-family:var(--font-base);
}

.modal-image{
  border-radius: 30px;
  max-width:250px;
  max-height:250px;

}

.modal-content{
  top: 50%;
    transform: translateY(-50%);
}