@import url("https://use.typekit.net/ltj6ssq.css");

:root {
  --font-base: "proxima-nova", sans-serif;
  --font-secondary: "corsario-variable", sans-serif;

  --primary-color: #8791cf;
  --secondary-color: #eef0eb;
  --black-color: #030303;
  --highlight-color: #9babf9;
  --darkBlue-color: #3b4a93;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}